.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link + .card-link {
    margin-left: 1.25rem
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8
}

.card-primary .card-footer, .card-primary .card-header {
    background-color: transparent
}

.card-success {
    background-color: #999;
    border-color: #999;
}

.card-success .card-footer, .card-success .card-header {
    background-color: transparent
}

.card-info {
    background-color: #61696e;
    border-color: #61696e;
}

.card-info .card-footer, .card-info .card-header {
    background-color: transparent
}

.card-warning {
    background-color: #292b2c;
    border-color: #292b2c;
}

.card-warning .card-footer, .card-warning .card-header {
    background-color: transparent
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f
}

.card-danger .card-footer, .card-danger .card-header {
    background-color: transparent
}

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f
}

.card-inverse {
    color: rgba(255, 255, 255, .65)
}

.card-inverse .card-footer, .card-inverse .card-header {
    background-color: transparent;
    border-color: rgba(255, 255, 255, .2)
}

.card-inverse .card-blockquote, .card-inverse .card-footer, .card-inverse .card-header, .card-inverse .card-title {
    color: #fff
}

.card-inverse .card-blockquote .blockquote-footer, .card-inverse .card-link, .card-inverse .card-subtitle, .card-inverse .card-text {
    color: rgba(255, 255, 255, .65)
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0
}

.card-img {
    border-radius: calc(.25rem - 1px)
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px)
}

.card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

@media (min-width: 576px) {
    .card-deck {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .card-deck .card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .card-deck .card:not(:first-child) {
        margin-left: 15px
    }

    .card-deck .card:not(:last-child) {
        margin-right: 15px
    }
}

@media (min-width: 576px) {
    .card-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .card-group .card {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }

    .card-group .card + .card {
        margin-left: 0;
        border-left: 0
    }

    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0
    }

    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0
    }

    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0
    }

    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0
    }

    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0
    }

    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0
    }

    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0
    }

    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom, .card-group .card:not(:first-child):not(:last-child) .card-img-top {
        border-radius: 0
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: .75rem
    }
}



.bg-faded {
    background-color: #f7f7f7
}

.bg-primary {
    background-color: #0275d8 !important
}

a.bg-primary:focus, a.bg-primary:hover {
    background-color: #025aa5 !important
}

.bg-success {
    background-color: #999 !important
}

a.bg-success:focus, a.bg-success:hover {
    background-color: #449d44 !important
}

.bg-info {
    background-color: #61696e !important
}

a.bg-info:focus, a.bg-info:hover {
    background-color: #31b0d5 !important
}

.bg-warning {
    background-color: #292b2c !important
}

a.bg-warning:focus, a.bg-warning:hover {
    background-color: #ec971f !important
}

.bg-danger {
    background-color: #d9534f !important
}

a.bg-danger:focus, a.bg-danger:hover {
    background-color: #c9302c !important
}

.bg-inverse {
    background-color: #292b2c !important
}

a.bg-inverse:focus, a.bg-inverse:hover {
    background-color: #101112 !important
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef
}

.table tbody + tbody {
    border-top: 2px solid #eceeef
}

.table .table {
    background-color: #fff
}

.table-sm td, .table-sm th {
    padding: .3rem
}

.table-bordered {
    border: 1px solid #eceeef
}

.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table-active, .table-active > td, .table-active > th {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover > td, .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, .075)
}

.table-success, .table-success > td, .table-success > th {
    background-color: #dff0d8
}

.table-hover .table-success:hover {
    background-color: #d0e9c6
}

.table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
    background-color: #d0e9c6
}

.table-info, .table-info > td, .table-info > th {
    background-color: #d9edf7
}

.table-hover .table-info:hover {
    background-color: #c4e3f3
}

.table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
    background-color: #c4e3f3
}

.table-warning, .table-warning > td, .table-warning > th {
    background-color: #fcf8e3
}

.table-hover .table-warning:hover {
    background-color: #faf2cc
}

.table-hover .table-warning:hover > td, .table-hover .table-warning:hover > th {
    background-color: #faf2cc
}

.table-danger, .table-danger > td, .table-danger > th {
    background-color: #f2dede
}

.table-hover .table-danger:hover {
    background-color: #ebcccc
}

.table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
    background-color: #ebcccc
}

.thead-inverse th {
    color: #fff;
    background-color: #292b2c
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef
}

.table-inverse {
    color: #fff;
    background-color: #292b2c
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #fff
}

.table-inverse.table-bordered {
    border: 0
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.table-responsive.table-bordered {
    border: 0
}




body,
.card {
    overflow: hidden;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.display-1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1
}

.text-uppercase {
    text-transform: uppercase !important
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1, h1 {
    font-size: 2.5rem
}

.h2, h2 {
    font-size: 2rem
}

.h3, h3 {
    font-size: 1.75rem
}

.h4, h4 {
    font-size: 1.5rem
}

.h5, h5 {
    font-size: 1.25rem
}

.h6, h6 {
    font-size: 0.75rem
}

.lead {
    font-size: 1.25rem;
    font-weight: 300
}

.bold_fs {
    font-weight: bolder;
}

.fs_top_card {
    margin-bottom: 0px;
    margin-top: 0px
}

.fs_title {
    margin-top: 80px;
    margin-bottom: 25px;
}

.btn-outline-secondary {
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, .5);
    box-shadow: 0 0 0 2px rgba(204, 204, 204, .5)
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #ccc;
    background-color: transparent
}

.btn-outline-secondary.active, .btn-outline-secondary:active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc
}

.margin-left {
    margin-left: 10px;
}

.f-search-input {
    width: 100%
}

docs_link a,docs_link a:visited,a:hover,docs_link a:active{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
}
docs_link a:hover{
    color:#d73444;
}
docs_link a.before:before,a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
}
docs_link a.before:before{
    top:-0.25em;
}
docs_link a.after:after{
    bottom:-0.25em;
}
docs_link a.before:before,docs_link a.after:after{
    height:5px;
    height:0.35rem;
    width:0;
    background:#d73444;
}
docs_link a.first:after{
    left:0;
}
docs_link a.second:after{
    right:0;
}
docs_link a.third:after,a.sixth:before,a.sixth:after{
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
}
docs_link a.fourth:before,a.fourth:after{
    left:0;
}
docs_link a.fifth:before,a.fifth:after{
    right:0;
}
docs_link a.seventh:before{
    right:0;
}
docs_link a.seventh:after{
    left:0;
}
docs_link a.eigth:before{
    left:0;
}
docs_link a.eigth:after{
    right:0;
}
docs_link a.before:hover:before,a.after:hover:after{
    width:100%;
}
docs_link .square{
    box-sizing:border-box;
    margin-left:-0.4em;
    position:relative;
    overflow:hidden;
}
docs_link .square a{
    position:static;
    font-size:100%;
    padding:0.2em 0.4em;
}
docs_link .square:before,docs_link .square:after{
    content: "";
    box-sizing:border-box;
    transition:0.25s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    width:5px;
    width:0.35rem;
    height:0;
    background:#d73444;
}
docs_link .square:before{
    left:0;
    bottom:-0.2em;
}
docs_link .square.individual:before{
    transition-delay:0.6s;
}
docs_link .square:after{
    right:0;
    top:-0.2em;
}
docs_link .square.individual:after{
    transition-delay:0.2s;
}
docs_link .square a:before{
    left:0;
    transition:0.25s all ease;
}
docs_link .square a:after{
    right:0;
    transition:0.25s all ease;
}
docs_link .square.individual a:after{
    transition:0.25s all ease 0.4s;
}
docs_link .square:hover:before,docs_link .square:hover:after{
    height:calc(100% + 0.4em);
}
docs_link .square:hover a:before,docs_link .square:hover a:after{
    width:100%;
}