.fs_card .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.fs_card.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.fs_card.card-title {
    margin-bottom: .75rem
}

.fs_card.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
}

.fs_card.card-text:last-child {
    margin-bottom: 0
}

.fs_card.card-link:hover {
    text-decoration: none
}

.fs_card.card-link + .card-link {
    margin-left: 1.25rem
}

.fs_card.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem
}

.fs_card .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.fs_card.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.fs_card.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.fs_card.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.fs_card.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.fs_card.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0
}

.fs_card.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.fs_card.card-primary {
    background-color: #0275d8;
    border-color: #0275d8
}

.fs_card.card-primary .card-footer, .card-primary .card-header {
    background-color: transparent
}

.fs_card.card-success {
    background-color: #fff;
    border-color: #fff;
}

.fs_card.card-success .card-footer, .fs_card.card-success .card-header {
    background-color: transparent
}

.fs_card.card-info {
    background-color: #fff;
    border-color: #fff;
}

.fs_card.card-info .card-footer, .card-info .card-header {
    background-color: transparent
}

.fs_card.card-warning {
    background-color: #fff;
    border-color: #fff;
}

.fs_card.card-warning .card-footer, .fs_card.card-warning .card-header {
    background-color: transparent
}

.fs_card.card-danger {
    background-color: #d9534f;
    border-color: #d9534f
}

.fs_card.card-danger .card-footer, .fs_card.card-danger .card-header {
    background-color: transparent
}

.fs_card.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8
}

.fs_card.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc
}

.fs_card.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de
}

.fs_card.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c
}

.fs_card.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e
}

.fs_card.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f
}

.fs_card.card-inverse {
    color: inherit
}

.fs_card.card-inverse .card-footer, .fs_card.card-inverse .card-header {
    background-color: transparent;
    border-color: rgba(255, 255, 255, .2)
}

.fs_card.card-inverse .card-blockquote, .fs_card.card-inverse .card-footer, .fs_card.card-inverse .card-header, .fs_card.card-inverse .card-title {
    color: #fff
}

.fs_card.card-inverse .card-blockquote .blockquote-footer, .fs_card.card-inverse .card-link, .fs_card.card-inverse .card-subtitle, .fs_card.card-inverse .card-text {
    color: rgba(255, 255, 255, .65)
}

.fs_card.card-inverse .card-link:focus, .fs_card.card-inverse .card-link:hover {
    color: #fff
}

.fs_card.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0
}

.fs_card.card-img {
    border-radius: calc(.25rem - 1px)
}

.fs_card.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.fs_card.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px)
}

.fs_card.card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

@media (min-width: 576px) {
    .fs_card.card-deck {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .fs_card.card-deck .card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .fs_card.card-deck .card:not(:first-child) {
        margin-left: 15px
    }

    .fs_card.card-deck .card:not(:last-child) {
        margin-right: 15px
    }
}

@media (min-width: 576px) {
    .fs_card.card-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .fs_card.card-group .card {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }

    .fs_card.card-group .card + .card {
        margin-left: 0;
        border-left: 0
    }

    .fs_card.card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0
    }

    .fs_card.card-group .card:first-child .card-img-top {
        border-top-right-radius: 0
    }

    .fs_card.card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0
    }

    .fs_card.card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0
    }

    .fs_card.card-group .card:last-child .card-img-top {
        border-top-left-radius: 0
    }

    .fs_card.card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0
    }

    .fs_card.card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0
    }

    .fs_card.card-group .card:not(:first-child):not(:last-child) .card-img-bottom, .card-group .card:not(:first-child):not(:last-child) .card-img-top {
        border-radius: 0
    }
}

@media (min-width: 576px) {
    .fs_card.card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }

    .fs_card.card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: .75rem
    }
}



.fs_card.bg-faded {
    background-color: #f7f7f7
}

.fs_card.bg-primary {
    background-color: #0275d8 !important
}

a.bg-primary:focus.fs_card, a.bg-primary:hover.fs_card {
    background-color: #025aa5 !important
}

.fs_card.bg-success {
    background-color: #fff !important
}

.fs_card.a.bg-success:focus, .fs_card.a.bg-success:hover {
    background-color: #449d44 !important
}

.fs_card.bg-info {
    background-color: #fff !important
}

.fs_carda.bg-info:focus, .fs_card.a.bg-info:hover {
    background-color: #31b0d5 !important
}

.fs_card.bg-warning {
    background-color: #fff !important
}

a.fs_card.bg-warning:focus, a.fs_card.bg-warning:hover {
    background-color: #ec971f !important
}

.fs_card.bg-danger {
    background-color: #d9534f !important
}

a.fs_card.bg-danger:focus, a.fs_card.bg-danger:hover {
    background-color: #c9302c !important
}

.fs_card.bg-inverse {
    background-color: #292b2c !important
}

a.fs_card.bg-inverse:focus, a.fs_card.bg-inverse:hover {
    background-color: #101112 !important
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef
}

.table tbody + tbody {
    border-top: 2px solid #eceeef
}

.table .table {
    background-color: #fff
}

.table-sm td, .table-sm th {
    padding: .3rem
}

.table-bordered {
    border: 1px solid #eceeef
}

.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table-active, .table-active > td, .table-active > th {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover > td, .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, .075)
}

.table-success, .table-success > td, .table-success > th {
    background-color: #dff0d8
}

.table-hover .table-success:hover {
    background-color: #d0e9c6
}

.table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
    background-color: #d0e9c6
}

.table-info, .table-info > td, .table-info > th {
    background-color: #d9edf7
}

.table-hover .table-info:hover {
    background-color: #c4e3f3
}

.table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
    background-color: #c4e3f3
}

.table-warning, .table-warning > td, .table-warning > th {
    background-color: #fcf8e3
}

.table-hover .table-warning:hover {
    background-color: #faf2cc
}

.table-hover .table-warning:hover > td, .table-hover .table-warning:hover > th {
    background-color: #faf2cc
}

.table-danger, .table-danger > td, .table-danger > th {
    background-color: #f2dede
}

.table-hover .table-danger:hover {
    background-color: #ebcccc
}

.table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
    background-color: #ebcccc
}

.thead-inverse th {
    color: #fff;
    background-color: #292b2c
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef
}

.table-inverse {
    color: #fff;
    background-color: #292b2c
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #fff
}

.table-inverse.table-bordered {
    border: 0
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.table-responsive.table-bordered {
    border: 0
}




body,
.card {
    overflow: hidden;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.display-1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1
}

.text-uppercase {
    text-transform: uppercase !important
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1, h1 {
    font-size: 2.5rem
}

.h2, h2 {
    font-size: 2rem
}

.h3, h3 {
    font-size: 1.75rem
}

.h4, h4 {
    font-size: 1.5rem
}

.h5, h5 {
    font-size: 1.25rem
}

.h6, h6 {
    font-size: 0.75rem
}

.lead {
    font-size: 1.25rem;
    font-weight: 300
}

.bold_fs {
    font-weight: bolder;
}

.fs_top_card {
    margin-bottom: 0px;
    margin-top: 0px
}

.fs_title {
    margin-top: 80px;
    margin-bottom: 25px;
}

.btn-outline-secondary {
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, .5);
    box-shadow: 0 0 0 2px rgba(204, 204, 204, .5)
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #ccc;
    background-color: transparent
}

.btn-outline-secondary.active, .btn-outline-secondary:active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc
}

.margin-left {
    margin-left: 10px;
}

.f-search-input {
    width: 100%
}

.fs_top_heading {
    font-size: 13px
}

.fs_top_num {
    font-size: 2rem;
}

.table-fill.fs_stats {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th.fs_stats {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child.fs_stats {
    border-top-left-radius:3px;
}

th:last-child.fs_stats {
    border-top-right-radius:3px;
    border-right:none;
}

tr.fs_stats {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover.fs_stats td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child.fs_stats {
    border-top:none;
}

tr:last-child.fs_stats {
    border-bottom:none;
}

tr:nth-child(odd).fs_stats td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover.fs_stats td {
    background:#4E5066;
}

tr:last-child.fs_stats td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child.fs_stats td:last-child {
    border-bottom-right-radius:3px;
}

td.fs_stats {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child.fs_stats {
    border-right: 0px;
}

th.text-left.fs_stats {
    text-align: left;
}

th.text-center.fs_stats {
    text-align: center;
}

th.text-right.fs_stats {
    text-align: right;
}

td.text-left.fs_stats {
    text-align: left;
}

td.text-center.fs_stats {
    text-align: center;
}

td.text-right.fs_stats {
    text-align: right;
}


.fs_sec_title {
    color:black;
    font-size:17.5px;
    text-decoration-style: solid;
    font-weight: 600
}

.fs_card_title {
    font-size:17px;
}

.fs-doc-link {
    color:black;
    text-decoration:underline;
    font-weight:700;
}

.fs-banner-create {
    text-decoration:none;
}
